.layout {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  min-height: 100vh;
  grid-template-rows: 1fr 4fr;
  align-items: start;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

@media (min-width: 868px) {
  .layout {
    grid-template-areas: "header content";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: none;
    align-items: center;
  }
}
