.pokemonTile {
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.pokemonTile:hover {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.pokemonImageOuter {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.pokemonImage {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.pokemonImageOuter::after {
  content: "";
  display: block;
  width: 65%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}

.pokemonTypes {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .pokemonImageOuter {
    width: 100px;
    height: 100px;
  }
}
